/* EL ASTERISCO SELECCIONA TODO LO DE LA PÁGINA */

/* * {
    background-color: lightcyan;   
} */ /* Cambia el fondo a cyan claro */

/* Para solamente seleccionar  */


#a{
    color: rgb(90, 27, 192);
    font-style: italic;
    font-variant: small-caps;
}


#div1 {
    padding: 5px 30px 25px ;
}

div.clase1 h2 {
    background-color: rgb(164, 17, 227)
}

p.clase1 + p {
    margin: 10px;
    padding: 5px;
    border:15px dashed plum ;
}

p.clase1 + p:hover {
    color: whitesmoke;
    background-color: rgb(231, 76, 213)
}